<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Login Error</title>
<link rel="stylesheet"
	href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script
	src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

</head>
<body>
	<div class="container-fluid">
		<div class="row-fluid">
			<h2>Login Incomplete</h2>
		</div>
		<div class="row-fluid">
			<p class="lead">
				Oops !!<br /> There seems to be an error which prevents us from
				completing login.<br /> Below are the steps you can use to
				successfully login.<br />
			
			
			<ul>
				<li>Approve the permissions required by our Application.</li>
				<li>Use a different social network.</li>
				<li>Try an alternate method to login.</li>
			</ul>
			</p>
		</div>
		<div class="row-fluid">
			<button type="submit" class="btn btn-warning">Close Window</button>
		</div>

	</div>
	<script type="text/javascript">
	function isMobile(){
		if(navigator.userAgent.match(/Android/i) || navigator.userAgent.match(/webOS/i) || navigator.userAgent.match(/iPhone/i) || navigator.userAgent.match(/iPad/i) || navigator.userAgent.match(/iPod/i) || navigator.userAgent.match(/BlackBerry/i) || navigator.userAgent.match(/Windows Phone/i))
		{
			return true;
		}
		return false;
	}

	if(isMobile()){
		$('button.btn').html("Go Back");
	}

	$('button.btn').click(function(){
		if(isMobile()){
			window.history.go(-2);//go back 2 pages as previous page was login page
		}
		else{
			window.close(); //close the window if i m on desktop
		}
	});
</script>
</body>
</html>