<!doctype html>
<html lang="en">
<head>
<title>Verify Email Address</title>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container" >
<h2>Verify Email</h2>
<p class="lead">
We could not receive a verified email from the login provider, please enter your email address and verify the confirmation code sent to your email.
</p>
<input type="hidden" value="" id="hidden-email" ></input>
<input type="hidden" value="<?php echo urlencode($this->loc); ?>" id="verified-location"></input>
<input type="hidden" value="<?php echo $this->uid; ?>" id="uid"></input>
<input type="hidden" value="<?php echo $this->siteid; ?>" id="siteid"></input>
<div id="email-success">
<div class="alert alert-success fade in">
<button type="button" class="close"  aria-hidden="true" onclick="$('#email-success').hide();">&times;</button>
<strong>Email Sent!</strong> Please check your email for a verification code sent by us, and enter it in the below field.
</div>
</div>
<div id="code-fail">
<div class="alert alert-danger fade in">
<button type="button" class="close"  aria-hidden="true" onclick="$('#code-fail').hide();">&times;</button>
<strong>Oops!</strong> The verification code you entered is invalid.
</div>
</div>
<form class="form-horizontal" role="form" id="collect-email-form">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary" >Send Verification Code</button>
    </div>
  </div>
</form>

<form class="form-horizontal" role="form" id="collect-code-form">
  <div class="form-group">
    <label for="inputcode" class="col-sm-2 control-label">Verification Code</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" id="inputcode" placeholder="Code">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-success">Verify Code</button>
    </div>
  </div>
</form>
</div>

<script type="text/javascript">
$('#email-success').toggle();
$('#code-fail').toggle();
$('#collect-email-form').submit(function(event){
	event.preventDefault();
	var email = $("#inputEmail3").val();
	var siteid = $("#siteid").val();
	var url = "//s13a.socialannex.net/application/collectemail/verifyemail"
	$('#hidden-email').val(email);
	$.ajax({
		url:url,
		dataType:'jsonp',
		method:'post',
		data:"email="+email+"&siteid="+siteid
		}).done(function(data){
			//alert(data);
			$('button.btn-primary').attr('disabled','disabled');
			$('#email-success').toggle();
		});
	
});

$('#collect-code-form').submit(function(event){
	event.preventDefault();
	var url = "//s13a.socialannex.net/application/collectemail/verifycode";
	var email = $('#hidden-email').val();
	email = email.trim();
	var code = $("#inputcode").val();
	code = code.trim();
	var uid = $("#uid").val();
	var provider = $("#provider").val();
	if(email == '' || code == '') {
		$('#code-fail').show();
		return 0;
	}
	var siteid = $("#siteid").val();
	$.ajax({
		url:url,
		dataType:'jsonp',
		method:'post',
		data:"email="+email+"&code="+code+"&uid="+uid+"&siteid="+siteid
		}).done(function(data){
			//alert(data);
			if(data.result == false)
				$('#code-fail').show();
			else{
				var nextLocation = decodeURIComponent($('#verified-location').val());
				window.location = nextLocation;
			}
		});
});
</script>
</body>
</html>