<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Redirecting to login page</title>
<link rel="stylesheet"
	href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script
	src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

</head>
<body>
	<div class="container-fluid">
		<div class="row-fluid">
			<h2>Login complete</h2>
		</div>
		<div class="row-fluid">
			<p class="lead">
			Please wait...<br/>
			While we redirect you to login page.
			</p>
		</div>
		<iframe src="<?php echo $this->iframesrc;?>" style="display:none;"></iframe>
	</div>
</body>
</html>