<?php use Application\Model\ImagePaths; ?>
<div>
<?php if($result['facebook'] ):?>
<a href="javascript:void(0);" onclick="SAS13Obj.FacebookLogin();" style="text-decoration:none;border:none;">
<img src="<?php echo ImagePaths::getImagePath($result['fb_image'], ImagePaths::FB_LARGE);?>"  style="text-decoration:none;border:none;"/>
</a>
<?php endif;?>
<?php if($result['yahoo'] ):?>
<a href="javascript:void(0);" onclick="SAS13Obj.YahooLogin();" style="text-decoration:none;border:none;">
<img src="<?php echo ImagePaths::getImagePath($result['yh_image'], ImagePaths::YH_LARGE);?>"  style="text-decoration:none;border:none;"/>
</a>
<?php endif;?>
<?php if($result['google'] ):?>
<a href="javascript:void(0);" onclick="SAS13Obj.GoogleLogin();" style="text-decoration:none;border:none;">
<img src="<?php echo ImagePaths::getImagePath($result['gl_image'], ImagePaths::GL_LARGE);?>"  style="text-decoration:none;border:none;"/>
</a>
<?php endif;?>
<?php if($result['google_plus'] ):?>
<a href="javascript:void(0);" onclick="SAS13Obj.GooglePlusLogin();" style="text-decoration:none;border:none;">
<img src="<?php echo ImagePaths::getImagePath($result['google_plus_image'], ImagePaths::GLP_LARGE);?>"  style="text-decoration:none;border:none;"/>
</a>
<?php endif;?>
<?php if($result['linkedin'] ):?>
<a href="javascript:void(0);" onclick="SAS13Obj.LinkedinLogin();" style="text-decoration:none;border:none;">
<img src="<?php echo ImagePaths::getImagePath($result['li_image'], ImagePaths::LN_LARGE);?>"  style="text-decoration:none;border:none;"/>
</a>
<?php endif;?>
<?php if($result['windows_live'] ):?>
<a href="javascript:void(0);" onclick="SAS13Obj.WindowsLiveLogin();" style="text-decoration:none;border:none;">
<img src="<?php echo ImagePaths::getImagePath($result['wl_image'], ImagePaths::WL_LARGE);?>"  style="text-decoration:none;border:none;"/>
</a>
<?php endif;?>
<?php if($result['amazon'] ):?>
<a href="javascript:void(0);" onclick="SAS13Obj.AmazonLogin();" style="text-decoration:none;border:none;">
<img src="<?php echo ImagePaths::getImagePath($result['amazon_image'], ImagePaths::AM_LARGE);?>"  style="text-decoration:none;border:none;"/>
</a>
<?php endif;?>
<?php if($result['paypal'] ):?>
<a href="javascript:void(0);" onclick="SAS13Obj.PaypalLogin();" style="text-decoration:none;border:none;">
<img src="<?php echo ImagePaths::getImagePath($result['paypal_image'], ImagePaths::PY_LARGE);?>"  style="text-decoration:none;border:none;"/>
</a>
<?php endif;?>
<?php if($result['instagram'] ):?>
<a href="javascript:void(0);" onclick="SAS13Obj.InstagramLogin();" style="text-decoration:none;border:none;">
<img src="<?php echo ImagePaths::getImagePath($result['instagram_image'], ImagePaths::IN_LARGE);?>"  style="text-decoration:none;border:none;"/>
</a>
<?php endif;?>
</div>