<?php use Application\Model\ImagePaths; ?>
<div>
<?php if($result['facebook'] ):?>
<a href="javascript:void(0);" onclick="SAS13Obj.FacebookLogin();" style="text-decoration:none;border:none;">
<img src="<?php echo ImagePaths::getImagePath($result['sm_fb_image'], ImagePaths::FB_SMALL);?>"  style="text-decoration:none;border:none;"/>
</a>
<?php endif;?>
<?php if($result['yahoo'] ):?>
<a href="javascript:void(0);" onclick="SAS13Obj.YahooLogin();" style="text-decoration:none;border:none;">
<img src="<?php echo ImagePaths::getImagePath($result['sm_yh_image'], ImagePaths::YH_SMALL);?>"  style="text-decoration:none;border:none;"/>
</a>
<?php endif;?>
<?php if($result['google'] ):?>
<a href="javascript:void(0);" onclick="SAS13Obj.GoogleLogin();" style="text-decoration:none;border:none;">
<img src="<?php echo ImagePaths::getImagePath($result['sm_gl_image'], ImagePaths::GL_SMALL);?>"  style="text-decoration:none;border:none;"/>
</a>
<?php endif;?>
<?php if($result['google_plus'] ):?>
<a href="javascript:void(0);" onclick="SAS13Obj.GooglePlusLogin();" style="text-decoration:none;border:none;">
<img src="<?php echo ImagePaths::getImagePath($result['sm_google_plus_image'], ImagePaths::GLP_SMALL);?>"  style="text-decoration:none;border:none;"/>
</a>
<?php endif;?>
<?php if($result['linkedin'] ):?>
<a href="javascript:void(0);" onclick="SAS13Obj.LinkedinLogin();" style="text-decoration:none;border:none;">
<img src="<?php echo ImagePaths::getImagePath($result['sm_li_image'], ImagePaths::LN_SMALL);?>"  style="text-decoration:none;border:none;"/>
</a>
<?php endif;?>
<?php if($result['windows_live'] ):?>
<a href="javascript:void(0);" onclick="SAS13Obj.WindowsLiveLogin();" style="text-decoration:none;border:none;">
<img src="<?php echo ImagePaths::getImagePath($result['sm_wl_image'], ImagePaths::WL_SMALL);?>"  style="text-decoration:none;border:none;"/>
</a>
<?php endif;?>
<?php if($result['amazon'] ):?>
<a href="javascript:void(0);" onclick="SAS13Obj.AmazonLogin();" style="text-decoration:none;border:none;">
<img src="<?php echo ImagePaths::getImagePath($result['sm_amazon_image'], ImagePaths::AM_SMALL);?>"  style="text-decoration:none;border:none;"/>
</a>
<?php endif;?>
<?php if($result['paypal'] ):?>
<a href="javascript:void(0);" onclick="SAS13Obj.PaypalLogin();" style="text-decoration:none;border:none;">
<img src="<?php echo ImagePaths::getImagePath($result['sm_paypal_image'], ImagePaths::PY_SMALL);?>"  style="text-decoration:none;border:none;"/>
</a>
<?php endif;?>
<?php if($result['instagram'] ):?>
<a href="javascript:void(0);" onclick="SAS13Obj.InstagramLogin();" style="text-decoration:none;border:none;">
<img src="<?php echo ImagePaths::getImagePath($result['sm_instagram_image'], ImagePaths::IN_SMALL);?>"  style="text-decoration:none;border:none;"/>
</a>
<?php endif;?>
</div>